.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}

.calc {
  background-color: rgb(50, 50, 50);
  border-radius: 1rem;
  height: 60%;
  width: 50%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 30% 30%;
  border: 2px solid aqua;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.equal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equal div {
  width: 80% !important;
}

.inputDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aqua;
}
