@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  background-color: #eee;
  margin: 0;
  font-family: Open Sans;
}

nav {
  display: flex;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

nav a {
  flex: 1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: black;
  transition: 0.3s;
}

nav a:hover {
  background-color: rgba(230, 230, 230, 0.9);
  font-size: 1.3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.active {
  padding-top: 10px;
  border-bottom: solid 10px rgb(0, 120, 230, 1);
}

.active:hover {
  padding-top: 15px;
  border-bottom: solid 15px rgb(0, 120, 230, 1);
}
