.App {
  background-color: var(--bgColor);
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0px 0px;
  text-align: center;
  height: 100%;
  font-size: 5rem;
}
