.Chat {
  grid-area: 1 / 2 / 3 / 3;
  background: linear-gradient(
    135deg,
    var(--primColor) 28%,
    var(--secColor) 50%,
    var(--tertColor) 72%
  );
}

.chatBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.chatBackground > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  cursor: default;
}

.chatBackground > div > img {
  aspect-ratio: 1;
  height: 4rem;
}
