.Chat {
  grid-area: 1 / 2 / 3 / 3;
  background: linear-gradient(
    135deg,
    var(--primColor) 28%,
    var(--secColor) 50%,
    var(--tertColor) 72%
  );
}

.chatBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.chatPlaceholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  cursor: default;
  user-select: none;
}

.placeholderImg {
  aspect-ratio: 1;
  height: 4rem;
}

.chatBox {
  height: 100%;
  width: 100%;
  display: block;
}

.chatMessages {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.messageWrapper {
  min-height: 7%;
  min-width: 30%;
  max-width: 70%;
  background-color: var(--fgColor);
  margin: 1rem 0rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.chatNoMessage {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: center !important;
  justify-content: center;
  align-items: center;
}

.chatNoMessage > span {
  width: 70%;
}

.ownMessage {
  text-align: right !important;
}

.chatControls {
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlsWrapper {
  background-color: var(--bgColor);
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: 0.15s all;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.4);
}

.controlsWrapper > input {
  width: 85%;
  height: 60%;
  background-color: var(--bgColor);
  outline: none;
  border: none;
  color: var(--textColor);
  padding-left: 0.5rem;
}

.controlsWrapper > button {
  width: 10%;
  height: 60%;
  border: none;
  background-color: var(--fgHlColor);
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 0.5rem;
}

.controlsWrapper > button:disabled {
  background-color: var(--fgColor);
  cursor: default;
}

.chatUserDisplay {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
}

.chatUserDisplay > div {
  background-color: var(--bgColor);
  max-width: 35%;
  min-width: 20%;
  padding: 5px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.4);
}

.chatUserDisplay > div > span {
  color: var(--primColor);
  animation: nameAnimation 3.5s infinite;
}

@keyframes nameAnimation {
  0% {
    color: var(--primColor);
  }
  25% {
    color: var(--secColor);
  }
  50% {
    color: var(--tertColor);
  }
  75% {
    color: var(--secColor);
  }
  100% {
    color: var(--primColor);
  }
}
