:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;

  /* Background colors */
  --bgColor: #2c2c2c;
  --bgHlColor: #414141;

  /* Foreground color */
  --fgColor: #919191;
  --fgHlColor: #f1f0f0;

  /* Primary colors */
  --primColor: #d62323;
  --primHlColor: #ba0000;

  /* Secondary color */
  --secColor: #720e81;
  --secHlColor: #7d208b;

  /* Tertiary color */
  --tertColor: #0a0acc;
  --tertHlColor: #3232c6;

  /* Text colors */
  --textColor: rgba(255, 255, 255, 1);
  --textHlColor: rgba(255, 255, 255, 0.7);
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  margin: 0;
  text-align: center;
  background-color: var(--bgColor);
  color: var(--textColor);
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow: hidden;
}
