:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;

  /* Color definitions */

  /* Background colors */
  --bgColor: #181818;
  --bgHlColor: #323232;

  /* Primary colors */
  --primColor: #d62323;
  --primHlColor: #ba0000;

  /* Secondary color */
  --secColor: #e4e4e4;
  --secHlColor: #cecece;

  /* Tertiary color */
  --tertColor: #0a0acc;
  --tertHlColor: #3232c6;

  /* Text colors */
  --textColor: rgba(255, 255, 255, 1);
  --textHlColor: rgba(255, 255, 255, 0.7);
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  margin: 0;
  text-align: center;
  background-color: var(--bgColor);
  color: var(--textColor);
}
