.Login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5rem;
  background: linear-gradient(
    135deg,
    var(--primColor) 28%,
    var(--secColor) 50%,
    var(--tertColor) 72%
  );
}

.loginCard {
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  width: 30%;
  height: 50%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 18px 15px rgba(0, 0, 0, 0.2);
}

.loginText {
  font-size: 3.4rem;
  margin-bottom: 3rem;
  cursor: default;
}

.loginHlText {
  animation: glow 2500ms linear infinite 1000ms;
  text-transform: uppercase;
}

.loginForm {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.loginInputName {
  align-self: center;
  margin: 2rem 0;
  padding: 0.2rem 0.5rem;
  width: 70%;
  height: 13%;
  color: var(--textColor);
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--fgColor);
  position: relative;
  display: inline-block;
}

.loginInputName:focus {
  background-color: var(--bgHlColor);
}
.loginInputName:hover {
  background-color: var(--bgHlColor);
}

.loginInputName::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}

.loginButton {
  width: 70%;
  margin: 1em;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: 1;
  font-size: 2rem;
  padding: 2rem 1rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--fgColor);
  transition: all 0.2s;
}

.loginButton:hover {
  color: var(--textColor);
}

.loginButton:before,
.loginButton:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  transition: all 100ms;
}
.loginButton:before {
  top: 0;
  left: 0;
  box-shadow: inset 1px 1px 0 0 var(--fgColor);
  animation: hoverShadowBefore 2s infinite;
}
.loginButton:after {
  right: 0;
  bottom: 0;
  box-shadow: inset -1px -1px 0 0 var(--fgColor);
  animation: hoverShadowAfter 2s infinite;
}

@keyframes hoverTextColor {
  0% {
    color: var(--primColor);
  }
  25% {
    color: var(--secColor);
  }
  50% {
    color: var(--tertColor);
  }
  75% {
    color: var(--secColor);
  }
  100% {
    color: var(--primColor);
  }
}

@keyframes hoverShadowBefore {
  0% {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    box-shadow: inset 1px 1px 0 0 var(--primColor);
  }
  25% {
    box-shadow: inset 1px 1px 0 0 var(--secColor);
  }
  33% {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
  }
  50% {
    box-shadow: inset 1px 1px 0 0 var(--tertColor);
  }
  66% {
    width: 1px;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
  75% {
    box-shadow: inset 1px 1px 0 0 var(--secColor);
  }
  100% {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
    box-shadow: inset 1px 1px 0 0 var(--primColor);
  }
}

@keyframes hoverShadowAfter {
  0% {
    width: 100%;
    height: 1px;
    box-shadow: inset -1px -1px 0 0 var(--primColor);
  }
  25% {
    box-shadow: inset -1px -1px 0 0 var(--secColor);
  }
  33% {
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  50% {
    box-shadow: inset -1px -1px 0 0 var(--tertColor);
  }
  66% {
    width: 1px;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
  75% {
    box-shadow: inset -1px -1px 0 0 var(--secColor);
  }
  100% {
    width: 100%;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
    box-shadow: inset -1px -1px 0 0 var(--primColor);
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
