.Login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5rem;
}

.loginCard {
  display: flex;
  flex-direction: column;
  background-color: var(--bgHlColor);
}

.loginText {
  font-size: 3rem;
}
