.ModalDialog {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin: 0;
  transform: scaleX(1);
  transform-origin: left;
}

.ModalDialogHide {
  display: none;
  transform: scaleX(0);
}
.dialogWrapper {
  width: 70%;
  height: 80%;
  background-color: var(--bgColor);
  border-radius: 0.5rem;
  padding: 1rem;
}
