:root {
  /* Background */
  --bgColor: #101010;
  --bgHighlightColor: #2f2f2f;

  /* Foreground */
  --fgColor: #202020;
  --fgHighlightColor: #3f3f3f;

  /* Primary color */
  --primColor: #34c765;
  --primHighlightColor: #5cbe7c;

  /* Secondary color */
  --secColor: #005681;
  --secHighlightColor: #086ea0;

  /* Tertiary color */
  --tertColor: #d12020;
  --tertHighlightColor: #e83939;

  /* Misc */
  --textColor: #ffffff;
}
