:root {
  --bgClr: #101010;
  --headClr: #50c878;
  --textClr: #ffffff;
  --bgHighClr: #2f2f2f;
  --fgHighClr: #3f3f3f;
  --fgClr: #202020;
  --playClr: #001757;
  --redClr: #d12020;
  --redHighClr: #e83939;
  --editClr: #0aad0a;
}
